@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}
 /* shared styles */
.text-primary{
    color: rgb(253, 110, 10);
}

.dark-2{
    color: rgb(71, 71, 71);
}
.text-center{
    text-align: center;
}
.secondary-bg{
    border-radius: 10px;
    background: rgb(255, 248, 243);
}
.btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.section-description{
    font-family: Open Sans;
    font-size: 18px;
    color: rgb(117, 117, 117);
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    /* background-size: 70px 580px; */
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 170px;

}
nav ul a{
    text-decoration: none;
    font-size: 20px;

}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 18px;
}
.banner-content{
    max-width: 580px;
    margin-left: 160px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;

}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 100px 120px; 
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.about-part{
    background-color: white;
}
.about-items{
    display: flex;
    justify-content: space-between;
}
.item-description{
    font-weight: 700;

}

/* Skills section styles */
.skills{
    margin-left: 150px;
    margin-right: 150px;
}
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}

/* Resume section styles */
.resume-title{
    text-align: center;
 
}
.resume-container{
    display: flex;
    gap: 20px;
}
.resume-container{
    margin-left: 150px;
    margin-right: 150px;
}
.experience-description{
    color: rgb(117, 117, 117);
}
.experience-sub-title{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.resume-download-cv{
    text-align: center;
    margin-top: 40px;
}

/* footer styles */

footer{
    padding: 70px 150px ;
    display: flex;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="gmail"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 70%;
    padding: 10px 10px;
    margin-bottom: 24px;
    border: none;
}
